noteshrink==0.1.0
numpy>=2.2.0
scipy>=1.15.0
opencv-python>=4.10.0
openai>=1.60.0
pillow>=11.1.0
psycopg2-binary>=2.9.10
markdown_strings>=3.4.0
fastapi[standard]>=0.115.0
uvicorn>=0.34.0
yoyo-migrations>=9.0.0
minio>=7.2.0
